################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ObuchariumPractice/Lesson1/bin/Debug/netcoreapp2.0
/ObuchariumPractice/Lesson1/obj
/ObuchariumPractice/.vs/ObuchariumPractice
*.config
/ObuchariumPractice/Lesson2/wwwroot/node_modules
/ObuchariumPractice/Lesson3/wwwroot/node_modules